{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "at-rule-no-unknown": [true, {
      ignoreAtRules: ['include', 'mixin', 'if', 'function', 'else', 'return', 'content', 'for']
    }],
  }
}
